:root{
    --text-color: #656565;
    --nav-link-color: #989898;
    --btn-border-color: #d8d8d8;
    --bg-color: #ffe1bd;
}
.container{
    margin: 0 auto;
    width: 1170px;
}

img{
    width: 100%;
    height: auto;
}

@font-face{
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Thin.ttf');
    font-weight: 100;
}
@font-face{
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Light.ttf');
    font-weight: 300;
}
@font-face{
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold.ttf');
    font-weight: 700;
}
ul{
    margin: 0;
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Montserrat';
    font-weight: 300;
}
a{
    color: var(--nav-link-color);
    line-height: 1.33;
}
body{
    font-size: 18px;
    font-family: 'Montserrat';
    font-weight: 300;
}

/* ----- input ----- */
input{ border: none; }
input.text-input{
    background-color: transparent;
    opacity: 0.4;
    border-bottom: 1px solid #fff;
    color: rgba(255,255,255);
    display: block;
    padding: 1rem;
    margin-bottom:  1rem;
    width: 20rem;
}
@media screen and (max-width: 768px){
    input.text-input{
        width: 15rem;
    }
}
/* ----------------- */

/* ----- text ----- */

.bold{ font-weight: 700; }
h1{ font-size: 48px; }
h2{
    font-weight: 100;
    font-size: 60px;
    line-height: 0.8;
}
h3{ font-size: 30px; font-weight: 300; line-height: 1.3;}
p{ line-height: 1.5; }
.text-center{ text-align: center; }
@media screen and (max-width: 768px)
{
    h1{ font-size: 40px; }
    h2{ font-size: 45px; }
    h3{ font-size: 25px; }
}
@media screen and (max-width: 480px)
{
    h1{ font-size: 30px; }
    h2{ font-size: 35px; }
    h3{ font-size: 20px; }
}

/* ----- end text ----- */

ul{
    list-style: none;
}

/* ----- padding/margin ----- */

.pt-1{ padding-top: 1rem; }
.pt-2{ padding-top: 2rem; }
.pt-3{ padding-top: 3rem; }
.pt-4{ padding-top: 4rem; }
.pt-5{ padding-top: 5rem; }
.pb-1{ padding-bottom: 1rem; }
.pb-2{ padding-bottom: 2rem; }
.pb-3{ padding-bottom: 3rem; }
.pb-4{ padding-bottom: 4rem; }
.pb-5{ padding-bottom: 5rem; }

.mt-1{ margin-top: 1rem; }
.mt-2{ margin-top: 2rem; }
.mt-3{ margin-top: 3rem; }
.mt-4{ margin-top: 4rem; }
.mt-5{ margin-top: 5rem; }
.mb-1{ margin-bottom: 1rem; }
.mb-2{ margin-bottom: 2rem; }
.mb-3{ margin-bottom: 3rem; }
.mb-4{ margin-bottom: 4rem; }
.mb-5{ margin-bottom: 5rem; }
.mx-auto{ margin-left: auto; margin-right: auto;}

@media screen and (max-width: 768px){
    .pt-1{ padding-top: 0.5rem; }
.pt-2{ padding-top: 1rem; }
.pt-3{ padding-top: 1.5rem; }
.pt-4{ padding-top: 2rem; }
.pt-5{ padding-top: 2.5rem; }
.pb-1{ padding-bottom: 0.5rem; }
.pb-2{ padding-bottom: 1rem; }
.pb-3{ padding-bottom: 1.5rem; }
.pb-4{ padding-bottom: 2rem; }
.pb-5{ padding-bottom: 2.5rem; }

.mt-1{ margin-top: 0.5rem; }
.mt-2{ margin-top: 1rem; }
.mt-3{ margin-top: 1.5rem; }
.mt-4{ margin-top: 2rem; }
.mt-5{ margin-top: 2.5rem; }
.mb-1{ margin-bottom: 0.5rem; }
.mb-2{ margin-bottom: 1rem; }
.mb-3{ margin-bottom: 1.5rem; }
.mb-4{ margin-bottom: 2rem; }
.mb-5{ margin-bottom: 2.5rem; }
}

/* ----- end padding/margin ----- */

/* ----- buttons ----- */
.btn{ 
    border-radius: 25px;
    text-align: center;
    padding: 0.7rem 0;
    width: 170px;
    height: 50px;
    display: inline-block;
    cursor: pointer;
}
.bg-dark{ background-color: #000000; }
.bg-light{ background-color: #fff; border: 1px solid var(--btn-border-color);}

.text-dark{ color: #000; }
.text-light{ color: #fff;}

/* ----- end buttons ----- */

/* ----- grid ----- */
.d-flex{
    display: flex;
    flex-wrap: wrap;
}
.align-items-center{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}
.jc-center{
    justify-content: center;
}
.flex-center{
    justify-content: center;
    align-items: center;
}
.center{
    margin-left: auto;
    margin-right: auto;
}

/* ----- end grid ----- */

.line{
    background-color: #000000;
    height: 2px;
    width: 55px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
@media screen and (max-width: 768px){
    .line{
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
}

/* ----- navbar ----- */
.navbar{
    padding: 3rem 0;}
    .navbar-logo{
        font-size: 30px;}
    .navbar-menu ul{
        display: flex;}
        .navbar-menu ul li{
            margin-left: 2rem;}
    @media screen and (max-width: 768px){
        .navbar-menu{
            display: none;
        }
        .navbar{
            padding: 1.5rem 0;
        }
    }
/* ----- end navbar ----- */

/* ----- big image ----- */
.hero{
    background: url('../img/hero-bg.jpg') center center no-repeat/cover;
    height: 30rem;}
@media screen and (max-width: 768px){
    .hero{
        height: 20rem;
    }
}
/* ----- end big image ----- */

/* ----- what we do ----- */
.work{
    }
    .work-list .row{
        flex-grow: 1;
        flex-basis: 100%; 
        justify-content: space-between;}
        @media screen and (max-width: 768px){
            .work-list .row{
                flex-direction: column;
            }
        }
        .work-list .img{}
        .work-list .text{}
        .work p{
            line-height: 1.5; }

        .work img{
            width: 100%;
        }
    .work-list .row:nth-child(even){
        flex-direction: row-reverse; }
    
@media screen and (max-width: 768px){
    .work{
        }
}
/* ----- end what we do ----- */

/* ----- team ----- */
.team{
    background-color: var(--bg-color);}
    .team-list{
        width: 70%;
        margin: 0 auto;}
        .team-list-item{}
            .team-list-item .avatar{
                width: 168px;
                height: 168px;
                border-radius: 50%; 
                overflow: hidden; }
            .team-list-item .name{
                margin-top: 1rem;
                font-size: 40px;
                font-weight: bold;
                display: block; 
                line-height: 1.05;}
            .team-list-item .job{}
            @media screen and (max-width: 768px){
                .team-list-item .avatar{
                    width: 100px;
                    height: 100px;
                }
                .team-list-item .name{
                    font-size: 30px;
                }
            }
/* ----- end team ----- */

/* ----- contact ----- */
.contact{
    }
    .contact-info{
        width: 50%; 
        flex-basis: 20rem;
        flex-grow: 1;}
        .contact-info-personal li{
            margin-bottom: 3rem;
            position: relative;}
        .contact-info-media li{
            width: 40px;
            height: 40px;
            background-color: #fff;
            border-radius: 50%;
            margin-right: 1rem;}
        .contact-info-personal .address{
            width: 90%;}
    .contact-form{
        width: 50%; }

/* ----- end contact ----- */


@media screen and (max-width: 1170px){
    .container{
        width: 90%;
    }
}

/* ----- about ----- */
.about{}
    .about .img{
        width: 560px;
        height: 560px;
        background-color: #00ff33;}
    @media screen and (max-width: 1200px)
    {
        .about .img{
            width: 400px;
            height: 400px;
        }
        
    }
    @media screen and (max-width: 768px)
    {
        .about .img{
            margin: 0 auto;
        }
        .about .slogan{
            display: none;}
        
    }
    @media screen and (max-width: 480px)
    {
        .about .img{
            width: 100%;
            height: 260px;
        }
        
    }
    .about .slogan{
        margin-top: 3rem;
        margin-left: 3rem;
        width: 345px;}
        .about .slogan p{
            font-weight: bold;
            font-size: 40px;
            line-height: 1.35;}
/* ----- end about ----- */

/* ----- numbers ----- */
.numbers{
    }
    .numbers .number{
        text-align: center;}
        .numbers .number .digit{
            font-weight: bold;
            font-size: 40px;}
        .numbers .number .line{
            margin: 1rem auto;}
        .numbers .number .text{
            font-size: 1rem;}
/* ----- end numbers ----- */

.instagram{
    }
    .instagram-photos{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;}
        .instagram-photos .photo{
            flex-basis: 268px;
            background-color: #00660f;
            height: 268px;}

